@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #07033a;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 90vh; */
  overflow-y: scroll;
  font-family: "Lato", sans-serif;
}

label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px !important;
}

p.text {
  margin-top: 5px;
}

p.text span {
  color: rgb(255, 0, 242) !important;
}

.header {
  margin-top: 32px;
  font-size: 90px;
}

select {
  padding: 5px 8px;
  border-radius: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  perspective: 950px;
}

.featured-text {
  font-size: 50px;
}

.featured-movie-image {
  width: 300px;
  height: 400px;
  padding: 24px;
  border-radius: 30px;
}

.featured-movie-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.screen {
  background-color: rgb(230, 230, 230);
  padding: 75px 110px;
  border-radius: 3px;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

.movie-container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-container label {
  margin-bottom: 10px;
}

.showcase {
  padding: 0 10px;
  border-radius: 5px;
  color: #fff;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.row {
  display: flex;
}

.seat {
  background-color: #fff;
  height: 10px;
  width: 12px;
  margin: 5px 7px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.occupied {
  background-color: #444451;
}

.selected {
  background-color: rgb(255, 0, 242);
}

.order-summary {
  display: flex;
  flex-direction: row;
  align-items: center;
}
