@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #07033a;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  font-family: "Lato", sans-serif;
  margin: 12px;
}

label {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px !important;
}



option,
option:checked {
  font-weight: bold !important;
}

p.text {
  margin-top: 5px;
}

p.text span {
  color: rgb(255, 0, 242) !important;
}

.cinema-hub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cinema-hub {
  font-size: 52px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  perspective: 600px;
}

.screen {
  background-color: rgb(230, 230, 230);
  height: 125px;
  width: 200px;
  padding: 50px 75px;
  margin: 5px 0;
  border-radius: 3px;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

.movie-container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-container label {
  margin-bottom: 10px;
}

select {
  padding: 5px 8px;
  border-radius: 5px;
}

.showcase {
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.row {
  display: flex;
}

.seat {
  background-color: #fff;
  height: 12px;
  width: 15px;
  margin: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.occupied {
  background-color: #444451;
}

.selected {
  background-color: rgb(255, 0, 242);
}

.order-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
}
